* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

li {
  font-size: 1.3rem;
  list-style-type: none;
}

h2, h3, p, li {
  line-height: 1.8rem;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: inherit;
}

a:hover {
  border-bottom: 1px solid;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 60px;
  background-color: #333;
}

header .inner {
  position: relative;
  height: 60px;
}

header .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  padding: 10px 0;
  color: #fffffb;
}

header .ru_nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 0;
  color: #fffffb;
}
header .ru_nav li {
  font-size: 1.0rem;
  float: left;
  margin-left: 20px;
}

header .ru_nav a {
  color: #fffffb;
}

#banner {
  width: 100%;
  height: 300px;
  background-color: #1d953f;
}

#banner .inner {
  position: relative;
  height: 300px;
}

#banner .caption {
  position: absolute;
  right: 0;
  bottom: 10px;
  height: 50px;
}

#banner .caption li {
  display: inline-block;
  position: relative;
  float: left;
  width: 30px;
  height: 50px;
  margin-left: 18px;
}

#banner .caption li a {
  display: block;
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 40px;
  border: 1px solid #130c0e;
  background-color: #d3d7d4;
}

#banner .caption li:hover a {
  height: 50px;
}

#banner .caption li span {
  position: absolute;
  bottom: 4px;
  padding: 0 5px;
}

#main_nav {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #ccc;
}

#main_nav .inner {
  position: relative;
  height: 60px;
}

#main_nav .inner ul {
  position: absolute;
  top: 10px;
  left: 0;
}

#main_nav .inner li {
  display: inline-block;
  float: left;
  width: 120px;
  height: 50px;
  padding: 10px 10px;
  text-align: center;
  border: 1px solid #aaa;
  border-bottom-width: 2px;
  border-radius: 20px 20px 0 0;
  background-color: #ccc;
}

#main_nav .inner li:hover {
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#main_nav .inner a {
  color: #4f5555;
  border: none;
}

#main_content {
  width: 100%;
}

#main_content .inner {
  display: flex;
  flex-direction: column;
}

#main_content .inner ul {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#main_content .inner li {
  padding: 80px;
  border: 1px solid #ccc;
  text-align: center;
}

#main_content .inner li + li {
  margin-left: 10px;
}

#main_content .inner .row_2 li {
  padding: 80px 68px;
}

footer {
  width: 100%;
  height: 100px;
  padding: 20px 0;
  text-align: center;
  color: #fffffb;
  background-color: #4f5555;
}

footer a {
  color: #fffffb;
}
