/* using float */

* {
  box-sizing: border-box;
}

body {
  background-color: #d1c7b7;
  padding-top: 20px;
}

#wrapper {
  width: 60%;
  min-width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #fffef9;
  overflow: auto;
}

#center {
  width: 300px;
  float: left;
  margin-left: 200px;
  margin-right: calc(100% - 500px);
  border: 2px dotted #777;
}

#left {
  width: 200px;
  float: left;
  margin-left: -100%;
  border: 2px solid #666;
}

#right {
  width: calc(100% - 500px);
  float: left;
  margin-left: calc(500px - 100%);
  border: 2px dashed #ccc;
}
