/* using flexbox */

* {
  box-sizing: border-box;
}

body {
  background-color: #d1c7b7;
  padding-top: 20px;
}

#wrapper {
  width: 60%;
  min-width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #fffef9;
  display: flex;
}

#center {
  width: 300px;
  order: 1;
  border: 2px dotted #777;
}

#left {
  width: 200px;
  border: 2px solid #666;
}

#right {
  width: calc(100% - 500px);
  order: 2;
  border: 2px dashed #ccc;
}
