* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

h2, h3, p {
  line-height: 1.8rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Style begins */
#wrapper {
  display: flex;
  width: 100%;
  min-width: 1500px;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
  background-color: #fffffb;
}

#app_col {
  position: relative;
  width: 100px;
  background-color: #121a2a;
}

#app_col .apps {
  position: fixed;
  top: 20px;
  left: 0;
}

#app_col .apps a {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  margin-bottom: 20px;
}

#app_col .apps li:nth-child(1) a {
  background-image: url(img/app1.png);
}

#app_col .apps li:nth-child(2) a {
  background-image: url(img/app2.png);
}

#app_col .apps li:nth-child(3) a {
  background-image: url(img/app3.png);
}

#app_col .apps li:nth-child(4) a {
  background-image: url(img/app4.png);
}

#app_col .settings {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 16px;
}

#app_col .settings li {
  float: left;
  width: 16px;
  margin-right: 16px;
}

#app_col .settings a {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(img/grid.png);
}

#app_col .settings li:nth-child(2) a {
  background-image: url(img/grid.png);
  background-position: -32px 0;
}

#nav_col {
  position: relative;
  width: 260px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #222c3c;
  color: #fffffb;
}

#nav_col .nav_bar article {
  margin: 0 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #2a3547;
  text-transform: capitalize;
}

#nav_col .nav_bar article:last-child {
  border-bottom: none;
}

#nav_col .nav_bar .name {
  height: 16px;
  margin-bottom: 20px;
  overflow: auto;
}

#nav_col .nav_bar .name a#setting {
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(img/setting.png);
}

#nav_col .nav_bar .name h3 {
  display: inline-block;
  font-size: 1.0rem;
  line-height: 1.0rem;
  color: #37465d;
  text-transform: uppercase;
}

#nav_col .nav_bar .content li {
  overflow: auto;
  height: 16px;
}

#nav_col .nav_bar .content li + li {
  margin-top: 15px;
}

#nav_col .nav_bar .content a {
  font-size: 0.9rem;
  line-height: 16px;
  letter-spacing: 0.05rem;
  color: #b7c0cd;
}

#nav_col .nav_bar .content li#products {
  height: 24px;
}

#nav_col .nav_bar .content li#products span.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 16px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

#nav_col .nav_bar .content li#products:nth-child(1) span {
  background-image: url(img/product1.png);
}

#nav_col .nav_bar .content li#products:nth-child(2) span {
  background-image: url(img/product2.png);
}

#nav_col .nav_bar .content li#products:nth-child(3) span {
  background-image: url(img/product3.png);
}

#nav_col .nav_bar .content li#products:nth-child(4) span {
  background-image: url(img/product4.png);
}

#nav_col .nav_bar .content span.count {
  display: inline-block;
  float: right;
  width: 28px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  background-color: #2ea1f8;
  border-radius: 8px;
}

#nav_col .nav_bar .content span.error {
  display: inline-block;
  float: right;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #ed1941;
  border-radius: 8px;
}

#nav_col .goals {
  position: fixed;
  bottom: 0;
  left: 100px;
  width: inherit;
  background-color: #222c3c;
}

#nav_col .progress_bar {
  margin: 0 20px;
  margin-bottom: 20px;
  color: #f1f2f3;
  text-transform: capitalize;
}

#nav_col .progress_bar p {
  display: block;
  overflow: auto;
  height: 16px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 16px;
  letter-spacing: 0.05rem;
}

#nav_col .progress_bar span:first-child {
  float: left;
}

#nav_col .progress_bar span:last-child {
  float: right;
}

.progress {
  background-color: #ddd;
}

.curRate {
  width: 25%;
  background: linear-gradient(to right, #7f5be6, #9d8fe3);
}

.round-conner {
  height: 4px;
  border-radius: 2px;
}

#feature_area {
  width: calc(100% - 360px);
  padding-top: 80px;
  position: relative;
  overflow: auto;
  color: #515151;
}

#feature_area .administrator {
  position: fixed;
  top: 0;
  right: 0;
  width: inherit;
  height: 80px;
  border-bottom: 1px solid #ccc;
  background-color: #fffffb;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 8;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.info {
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.info .avatar {
  float: left;
  margin-right: 10px;
}

.info h3 {
  display: block;
  width: 140px;
  float: left;
  margin: 5px 0;
  font-size: 1.0rem;
  line-height: 1.0rem;
}

.info p {
  display: block;
  width: 140px;
  float: left;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

#feature_area .administrator > h3 {
  float: left;
  line-height: 80px;
  margin-left: 20px;
  letter-spacing: 0.05rem;
}

#feature_area .administrator .info {
  float: right;
  margin-top: 10px;
}

#feature_area .administrator .info .avatar {
  background:
  url(img/p0.png) 0 0 no-repeat,
  url(img/status.png) 95% 95% no-repeat;
}

#feature_area .administrator .info h3 {
  color: #0b64ff;
}

#feature_area .administrator .arrow {
  position: absolute;
  top: 30px;
  right: 10px;
  background-image: url(img/down.png);
  background-repeat: no-repeat;
}

#feature_area .message_summary {
  width: 400px;
  float: left;
}

.chat_search {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.search_field {
  flex: 1;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.search_item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(img/setting.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

#feature_area .message_summary article {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
}
#feature_area .message_summary .chat_info {
  overflow: auto;
  margin-bottom: 10px;
}

#feature_area .message_summary .info {
  float: left;
}

#feature_area .message_summary .when {
  float: right;
}

#feature_area .message_summary .when > p,
#feature_area .message_summary .chat_summary > p {
  font-size: 1.0rem;
  line-height: 1.2rem;
}

#feature_area .message_summary article:nth-child(2) .avatar {
  background-image: url(img/p1.png);
  background-repeat: no-repeat;
  background-position: center;
}

#feature_area .message_summary article:nth-child(3) .avatar {
  background-image: url(img/p2.png);
  background-repeat: no-repeat;
  background-position: center;
}

#feature_area .message_summary article:nth-child(4) .avatar {
  background-image: url(img/p3.png);
  background-repeat: no-repeat;
  background-position: center;
}

#feature_area .message_summary article:nth-child(5) .avatar {
  background-image: url(img/p4.png);
  background-repeat: no-repeat;
  background-position: center;
}

#feature_area .message_summary article:nth-child(6) .avatar {
  background-image: url(img/p5.png);
  background-repeat: no-repeat;
  background-position: center;
}

#feature_area .message_summary article:nth-child(7) .avatar {
  background-image: url(img/p6.png);
  background-repeat: no-repeat;
  background-position: center;
}

#feature_area .message_summary article:nth-child(8) .avatar {
  background-image: url(img/p7.png);
  background-repeat: no-repeat;
  background-position: center;
}

#feature_area .message_summary .active_chat {
  border-left: 2px solid #0b64ff;
}

#feature_area .message_summary .active_chat .info h3::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #0b64ff;
}

#feature_area .message_summary .active_chat .info h3 {
  color: #0b64ff;
}

#feature_area .message_summary .active_chat .chat_summary {
  overflow: auto;
}

#feature_area .message_summary .active_chat .chat_summary p {
  display: inline-block;
  width: 95%;
  float: left;
}

#feature_area .message_summary .active_chat .chat_summary span.count {
  display: inline-block;
  float: right;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #2ea1f8;
  border-radius: 8px;
}

#feature_area .message_content {
  float: left;
  width: calc(100% - 400px);
}

#feature_area .message_content .title {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid #ccc;
}

#feature_area .message_content .title h3 {
  flex-grow: 1;
  font-size: 1.0rem;
  line-height: 1.0rem;
}

#feature_area .message_content .title h3::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #02bd70;
}

#feature_area .message_content .title .tools,
#feature_area .message_content .title .page {
  display: flex;
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#feature_area .message_content .title p {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 0.8rem;
}

#feature_area .message_content .title span {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f1f3f7;
}

#feature_area .message_content .title  span + span {
  border-left: 1px solid #ccc;
}

#feature_area .message_content .title a {
  display: block;
  width: inherit;
  height: inherit;
  font-size: 0;
  line-height: 0;
}

#feature_area .message_content .tools span:nth-child(1) {
  background-image: url(img/tool1.png);
}

#feature_area .message_content .tools span:nth-child(2) {
  background-image: url(img/tool2.png);
}

#feature_area .message_content .tools span:nth-child(3) {
  background-image: url(img/tool3.png);
}

#feature_area .message_content .page span:nth-child(1) {
  background-image: url(img/left.png);
}

#feature_area .message_content .page span:nth-child(2) {
  background-image: url(img/right.png);
}

#feature_area .message_content article {
  margin: 20px;
  overflow: auto;
  /* border: 2px solid #ccc; */
}

#feature_area .message_content article .avatar {
  float: left;
}

#feature_area .message_content article .message_wrapper {
  float: left;
  width: calc(100% - 50px);
  padding-left: 16px;
}

#feature_area .message_content article .who p {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.0rem;
  line-height: 1.4rem;
}

#feature_area .message_content article .who p {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.0rem;
  line-height: 1.4rem;
}

#feature_area .message_content article .content p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

#feature_area .message_content article:nth-child(odd) .avatar {
  background-image: url(img/p1.png);
}

#feature_area .message_content article:nth-child(even) .avatar {
  background-image: url(img/p6.png);
}

#feature_area .message_content .content img {
  display: inline-block;
  width: 156px;
  height: 100px;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;
}

#feature_area .message_content .message_time {
    position: relative;
    height: 1px;
    width: 100%;
    color: #7f8fa4;
    background-color: #ccc;
}

#feature_area .message_content .message_time::after {
  content: attr(date);
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  padding: 0 17px;
  background-color: #fff;
}

#feature_area .message_content .message_time:nth-child(6) {
  color: #0b64ff;
  background-color: #0b64ff;
}


.message_add {
  margin: 20px;
  display: flex;
  align-items: center;
}

.add_field {
  flex: 1;
  height: 60px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}

.add_item {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f1f3f7;
  background-image: url(img/add.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

#app_col .apps li {
  position: relative;
}

.dot::before {
  content: "";
  position: absolute;
  border: 2px solid;
  border-color: transparent transparent transparent #2ea1f8;
  left: 0;
  top: 50%;
  height: 0;
  width: 0;
}
