* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

li {
  font-size: 1.3rem;
  list-style-type: none;
}

h2, h3, p, li {
  line-height: 1.8rem;
  margin-bottom: 0.4rem;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: inherit;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

body {
  height: 100vh;
  background-color: #bed742;
  background-image: url(https://ws3.sinaimg.cn/large/6f8a2832gy1fqrnfj5nddj21hc0pik7z.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 20px;
}

#main_wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #74A474;
}

#firstcolwrap {
  float: left;
  width: 200px;
  color: #fff;
  /* another method  */
  /* display: table-cell; */
}

#firstcolwrap section {
  text-align: center;
  margin-top: 60px;
}

#secondcolwrap {
  float: left;
  width: 760px;
  background-color:#fffef9;
  padding-top: 30px;
  /* another method  */
  /* display: table-cell; */
}

#secondcolwrap section {
  margin-bottom: 30px;
  padding-left: 12px;
}

#secondcolwrap ul, #secondcolwrap article {
  margin-left:16px;
}

#secondcolwrap .inner {
  margin-top: 16px;
  margin-left: 10px;
}

#basic_information ul, #contact_information ul {
  float: left;
}

#basic_information li, #contact_information li {
  float: left;
  padding-right: 50px;
}
