#radio-wrapper {
  overflow: auto;
}

#region-radio-wrapper {
  float: left;
}

#product-radio-wrapper {
  float: left;
}

#chart-wrapper {
  overflow: auto;
}

#chart-using-svg {
  width: 50%;
  float: left;
}

#chart-using-canvas {
  width: 50%;
  float: left;
}

#table-wrapper {
  display: flex;
  justify-content: center;
}

#table-wrapper table {
  width: 1400px;
}

#table-wrapper table td.sale:hover {
  background-image: url(../image/edit.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.editable-cell {
  width: 30px;
  padding: 0;
  border: none;
  /* text-align: center; */
  /* font-size: 18px; */
}
